{% extends "layout.html" %}

{% block navigation %}

<div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="{{ url_for('admin.home') }}" class="nav-link "><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-box"></i> Staff</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_staff') }}" class="dropdown-item ">Create New Staff</a>
                      <a href="{{ url_for('admin.all_staff') }}" class="dropdown-item ">All Staff</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Client</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_client') }}" class="dropdown-item ">Create New Client</a>
                      <a href="{{ url_for('admin.all_clients') }}" class="dropdown-item ">All Clients</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Role</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_role') }}" class="dropdown-item ">Create New Role</a>
                      <a href="{{ url_for('admin.all_roles') }}" class="dropdown-item ">All Roles</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link active" data-toggle="dropdown"><i class="fe fe-calendar"></i> Shifts</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_shift') }}" class="dropdown-item ">Create New Shift</a>
                      <a href="{{ url_for('admin.all_shifts') }}" class="dropdown-item ">All Shifts</a>

                    </div>
                  </li>
                   <li class="nav-item dropdown">
                    <a href="{{ url_for('admin.generate_rota', week_number=None) }}" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Rota</a>

                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Users</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="javascript:void(0)" class="dropdown-item ">Create New User</a>
                      <a href="javascript:void(0)" class="dropdown-item ">All Users</a>

                    </div>
                  </li>
                </ul>
              </div>


{% endblock navigation %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                     <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}

<div class="col-12 mt-3">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">All Shifts</h3>
                  </div>

                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                      <thead>
                        <tr>

                          <th>Title</th>
                          <th>Date created</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {% if shifts.items %}
                      {% for shift in shifts.items %}
                        <tr>

                          <td><a href="#" class="text-inherit">{{ shift.title }}</a></td>
                          <td>
                            {{ shift.date_joined }}
                          </td>

                          <td class="text-right">
                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                            <div class="dropdown">
                              <a href="{{ url_for('admin.delete_shift', shift_id=shift.id) }} "class="btn btn-danger btn-sm" style="color: white">Delete</a>
                            </div>
                          </td>
                          <td>
                            <a class="icon" href="javascript:void(0)">
                              <i class="fe fe-edit"></i>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                      {% else %}
                      <tr>
                          <td colspan="7">
                              <p> No shift listed </p>
                          </td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td colspan="7">
                          {% for page_num in shifts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                                {% if shifts.page == page_num %}
                                    <a class="btn btn-info mb-4" href="{{ url_for('admin.all_shifts',  page=page_num) }}">{{ page_num }}</a>
                                {% else %}
                                 <a class="btn btn-outline-info mb-4" href="{{ url_for('admin.all_shifts', page=page_num) }}">{{ page_num }}</a>
                                {% endif %}
                            {% else %}
                                    ...
                            {% endif %}
                            </td>
                      {% endfor %}

                      </tr>


                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
