{% extends "layout.html" %}

{% block navigation %}

<div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="{{ url_for('admin.home') }}" class="nav-link"><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link active" data-toggle="dropdown"><i class="fe fe-box"></i> Staff</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_staff') }}" class="dropdown-item ">Create New Staff</a>
                      <a href="{{ url_for('admin.all_staff') }}" class="dropdown-item ">All Staff</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Client</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_client') }}" class="dropdown-item ">Create New Client</a>
                      <a href="{{ url_for('admin.all_clients') }}" class="dropdown-item ">All Clients</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Role</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_role') }}" class="dropdown-item ">Create New Role</a>
                      <a href="{{ url_for('admin.all_roles') }}" class="dropdown-item ">All Roles</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Shifts</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_shift') }}" class="dropdown-item ">Create New Shift</a>
                      <a href="{{ url_for('admin.all_shifts') }}" class="dropdown-item ">All Shifts</a>

                    </div>
                  </li>

                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Users</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('auth.create_user') }}" class="dropdown-item ">Create New User</a>
                      <a href="{{ url_for('auth.all_users') }}" class="dropdown-item ">All Users</a>

                    </div>
                  </li>
                   <li class="nav-item dropdown">
                    <a href="{{ url_for('admin.download_timesheet') }}" class="nav-link"><i class="fe fe-calendar"></i> Download Timesheet</a>

                  </li>
                </ul>
              </div>


{% endblock navigation %}

{% block content %}

    <div >
      <div class="">
        <div class="container">
          <div class="row mt-3">
            <div class="col col-login mx-auto">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                     <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <form class="card" action="{{ url_for('admin.create_staff') }}" method="post">
                <div class="card-body p-6">
                  <div class="card-title">Create new staff</div>
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Enter name" name="fullname" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" name="email" >
                  </div>
                  <div class="form-group">
                    <label class="form-label">Phone</label>
                    <input type="tel" class="form-control" placeholder="Enter phone number" name="phone" >
                  </div>
                  <div class="form-group">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" placeholder="Address" name="address" >
                  </div>
                  <div class="form-group">
                    <label class="form-label">Postcode</label>
                    <input type="text" class="form-control" placeholder="Postcode" name="postcode" >
                  </div>
                  <div class="form-group">
                    <label class="form-label">NI number</label>
                    <input type="text" class="form-control" placeholder="NI number" name="ninumber" >
                  </div>
                  <div class="form-group">
                    <label class="form-label">DBS Number</label>
                    <input type="text" class="form-control" placeholder="DBS Number" name="dbsnumber" >
                  </div>
                  <div class="form-group">
                    <label class="form-label">Role</label>
                    <select class="form-control" name="role">
                        {% for role in roles %}
                        <option value="{{ role.title }}">{{ role.title }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Create new staff</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

