{% extends "layout.html" %}

{% block navigation %}

<div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="{{ url_for('admin.home') }}" class="nav-link"><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link active" data-toggle="dropdown"><i class="fe fe-box"></i> Staff</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_staff') }}" class="dropdown-item ">Create New Staff</a>
                      <a href="{{ url_for('admin.all_staff') }}" class="dropdown-item ">All Staff</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Client</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_client') }}" class="dropdown-item ">Create New Client</a>
                      <a href="{{ url_for('admin.all_clients') }}" class="dropdown-item ">All Clients</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Role</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_role') }}" class="dropdown-item ">Create New Role</a>
                      <a href="{{ url_for('admin.all_roles') }}" class="dropdown-item ">All Roles</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Shifts</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_shift') }}" class="dropdown-item ">Create New Shift</a>
                      <a href="{{ url_for('admin.all_shifts') }}" class="dropdown-item ">All Shifts</a>

                    </div>
                  </li>

                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Users</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('auth.create_user') }}" class="dropdown-item ">Create New User</a>
                      <a href="{{ url_for('auth.all_users') }}" class="dropdown-item ">All Users</a>

                    </div>
                  </li>
                </ul>
              </div>


{% endblock navigation %}

{% block content %}

    <div >
      <div class="">
        <div class="container">
          <div class="row mt-3">
            <div class="col col-login mx-auto">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                     <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <form class="card" action="{{ url_for('admin.edit_schedule', schedule_id=schedule.id) }}" method="post">
                <div class="card-body p-6">
                    <div class="card-title">Add Schedule for <b>{{ staff.fullname }}</b></div>
                    <div class="card-title">Role: {{ staff.role }}</div>
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group">
                    <label class="form-label">Select Client</label>
                    <select class="form-control" name="client">
                        {% for client in clients %}
                        <option value="{{ client.id }}" {% if schedule.client_id ==  client.id %} selected {% endif %}>{{ client.fullname }}</option>
                        {% endfor %}
                    </select>
                  </div>
                    <div class="form-group">
                    <label class="form-label">Select Shift</label>
                    <select class="form-control" name="shift">
                        {% for shift in shifts %}
                        <option value="{{ shift.title }}" {% if schedule.shift == shift.title %} selected {% endif %} >{{ shift.title }}</option>
                        {% endfor %}
                    </select>
                  </div>
                    <div class="form-group">
                    <label class="form-label">Date</label>
                    <input type="date" name="date" class="form-control" data-mask="00/00/0000" data-mask-clearifnotmatch="true" placeholder="DD/MM/YYYY" required/>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Enter name" name="fullname" value="{{ staff.fullname }}" disabled>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" name="email" value="{{ staff.email }}" disabled>
                  </div>


                  <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

