{% extends "layout.html" %}

{% block navigation %}

<div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="{{ url_for('admin.home') }}" class="nav-link "><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-box"></i> Staff</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_staff') }}" class="dropdown-item ">Create New Staff</a>
                      <a href="{{ url_for('admin.all_staff') }}" class="dropdown-item ">All Staff</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Client</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_client') }}" class="dropdown-item ">Create New Client</a>
                      <a href="{{ url_for('admin.all_clients') }}" class="dropdown-item ">All Clients</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Role</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_role') }}" class="dropdown-item ">Create New Role</a>
                      <a href="{{ url_for('admin.all_roles') }}" class="dropdown-item ">All Roles</a>

                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Shifts</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="{{ url_for('admin.create_shift') }}" class="dropdown-item ">Create New Shift</a>
                      <a href="{{ url_for('admin.all_shifts') }}" class="dropdown-item ">All Shifts</a>

                    </div>
                  </li>
                   <li class="nav-item dropdown">
                    <a href="{{ url_for('admin.generate_rota', week_number=None) }}" class="nav-link active" data-toggle="dropdown"><i class="fe fe-calendar"></i> Rota</a>

                  </li>
                    <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Users</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="javascript:void(0)" class="dropdown-item ">Create New User</a>
                      <a href="javascript:void(0)" class="dropdown-item ">All Users</a>

                    </div>
                  </li>
                </ul>
              </div>


{% endblock navigation %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                     <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}

<div class="col-12 mt-3">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Rota</h3>

                  </div>

                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                      <thead>
                        <tr>

                          <th>Staff</th>
                          <th>Role</th>
                            <th>Monday</th>
                          <th>Tuesday</th>

                          <th>Wednesday</th>
                          <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% if schedules %}
                      {% for schedule in schedules %}
                        <tr>

                          <td><a href="#" class="text-inherit">{{ schedule["staff_id"]|get_staff_from_schedule }}</a></td>
                          <td>
                            {{ schedule["staff_id"]|get_staff_role }}
                          </td>
                            <td>{{ schedule["days"][0]|format_schedules|safe }}</td>
                            <td>
                                {{ schedule["days"][1]|format_schedules|safe }}
                            </td>
                            <td>
                                {{ schedule["days"][2]|format_schedules|safe }}
                            </td>
                            <td>
                                {{ schedule["days"][3]|format_schedules|safe }}
                            </td>
                            <td>
                                {{ schedule["days"][4]|format_schedules|safe }}
                            </td>
                            <td>
                                {{ schedule["days"][5]|format_schedules|safe }}
                            </td>
                            <td>
                                {{ schedule["days"][6]|format_schedules|safe }}
                            </td>


                        </tr>
                      {% endfor %}
                      {% else %}
                      <tr>
                          <td colspan="9">
                              <p> No schedules listed </p>
                          </td>
                      </tr>
                         {% endif %}
                      <tr>
                          <td colspan="9">


                              <a class="btn btn-info mb-4" href="{{ url_for('admin.generate_rota',  week_number=week_number - 1) }}">Previous week</a>

                              <a class="btn btn-outline-info mb-4" href="{{ url_for('admin.generate_rota',  week_number=week_number + 1) }}">Next week</a>

                            </td>




                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
